In [59]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [60]:
df = pd.read_excel("default_of_credit_card_clients__courseware_version_1_21_19.xls")
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,798fc410-45c1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,8a8c8f3b-8eb4,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,85698822-43f5,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,0737c11b-be42,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,3b7f77cc-dbc0,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [61]:
df.shape

(30000, 25)

In [62]:
df.describe()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000
mean,165760.989333,1.586500,1.833333,1.535900,35.108800,-0.132867,-0.164333,-0.219300,-0.263900,-0.288033,...,42791.362167,39884.398167,38480.350933,5613.321500,5.855410e+03,5174.387967,4776.089733,4754.749200,5164.223267,0.218733
std,130158.590432,0.513348,0.807699,0.542698,9.851592,1.191215,1.191096,1.162348,1.127519,1.144981,...,64090.316188,60606.644833,59406.836932,16539.094312,2.299256e+04,17565.538305,15532.893047,15239.070708,17712.664703,0.413394
min,0.000000,0.000000,0.000000,0.000000,0.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2034.000000,1534.000000,1080.000000,836.000000,7.217500e+02,371.000000,223.000000,170.750000,9.000000,0.000000
50%,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,18759.500000,17835.500000,16643.000000,2084.500000,2.000000e+03,1776.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,53572.250000,49804.000000,48863.500000,5000.000000,5.000000e+03,4500.000000,4000.000000,4000.000000,4000.000000,0.000000
max,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  object
 1   LIMIT_BAL                   30000 non-null  int64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  int64
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_1                       30000 non-null  object
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  int64
 13  BILL_AMT2                   30000 non-null  int64
 14  BILL_AMT3                   30000 non-null  int64
 15  BILL_AMT4                   30000 non-null  int64
 16  BILL_AMT5                   30000 non-null  int64
 17  BILL_AMT6                   30000 non-null  int64
 18  PAY_AMT1                    30000 non-null  int64
 19  PAY_AMT2                    30000 non-null  int64
 20  PAY_AMT3                    30000 non-null  int64
 21  PAY_AMT4                    30000 non-null  int64
 22  PAY_AMT5                    30000 non-null  int64
 23  PAY_AMT6                    30000 non-null  int64
 24  default payment next month  30000 non-null  int64
dtypes: int64(23), object(2)
memory usage: 5.7+ MB

In [64]:
df.select_dtypes(include="number").corr()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
LIMIT_BAL,1.000000,0.064827,-0.182030,-0.064176,0.182063,-0.294889,-0.285132,-0.267011,-0.250228,-0.236397,...,0.299959,0.301221,0.295882,0.198029,0.180293,0.212039,0.206124,0.219416,0.222307,-0.144928
SEX,0.064827,1.000000,0.087350,0.063636,0.037687,-0.069787,-0.067032,-0.062984,-0.059243,-0.049570,...,0.001972,0.006099,0.005955,0.011086,0.006681,0.000921,0.007582,0.008086,0.007034,-0.020674
EDUCATION,-0.182030,0.087350,1.000000,-0.064907,0.242956,0.116157,0.108534,0.101424,0.089147,0.073598,...,0.014375,0.007239,0.006379,-0.028953,-0.023683,-0.032344,-0.029286,-0.032811,-0.030566,0.040400
MARRIAGE,-0.064176,0.063636,-0.064907,1.000000,-0.260869,0.019599,0.026609,0.025877,0.026297,0.024554,...,-0.002899,-0.004749,-0.000814,0.004695,-0.000599,0.005678,-0.002071,0.008143,0.002587,-0.007812
AGE,0.182063,0.037687,0.242956,-0.260869,1.000000,-0.051320,-0.054312,-0.054143,-0.059697,-0.055667,...,0.072791,0.070412,0.068698,0.037162,0.030057,0.038603,0.031665,0.032437,0.028715,0.032733
PAY_2,-0.294889,-0.069787,0.116157,0.019599,-0.051320,1.000000,0.766654,0.662036,0.622828,0.574929,...,0.221573,0.220225,0.218184,-0.081180,-0.059235,-0.055260,-0.047475,-0.036893,-0.036493,0.262028
PAY_3,-0.285132,-0.067032,0.108534,0.026609,-0.054312,0.766654,1.000000,0.777385,0.686876,0.632649,...,0.226350,0.223815,0.220949,0.000531,-0.066928,-0.052821,-0.046875,-0.035849,-0.036039,0.233518
PAY_4,-0.267011,-0.062984,0.101424,0.025877,-0.054143,0.662036,0.777385,1.000000,0.819819,0.716250,...,0.244728,0.241327,0.237627,-0.010280,-0.002846,-0.068932,-0.044371,-0.033716,-0.026797,0.215199
PAY_5,-0.250228,-0.059243,0.089147,0.026297,-0.059697,0.622828,0.686876,0.819819,1.000000,0.816628,...,0.270516,0.268009,0.260620,-0.006814,-0.004189,0.009310,-0.058935,-0.033887,-0.023821,0.201941
PAY_6,-0.236397,-0.049570,0.073598,0.024554,-0.055667,0.574929,0.632649,0.716250,0.816628,1.000000,...,0.264473,0.288710,0.282841,-0.002313,-0.006359,0.005761,0.018350,-0.047236,-0.026308,0.184802
BILL_AMT1,0.291211,-0.008420,0.038102,-0.001965,0.077903,0.234005,0.207490,0.201296,0.204862,0.204989,...,0.861045,0.830285,0.803982,0.141883,0.100332,0.158811,0.160133,0.167834,0.180608,-0.015738
BILL_AMT2,0.284427,-0.005958,0.033739,-0.000266,0.075984,0.234044,0.236162,0.224251,0.225167,0.224608,...,0.893192,0.860182,0.832794,0.282098,0.102124,0.153110,0.149462,0.158865,0.175745,-0.010610
BILL_AMT3,0.289167,-0.000424,0.027922,-0.004106,0.075075,0.222933,0.226220,0.243335,0.241494,0.238816,...,0.924309,0.883929,0.853959,0.246095,0.318513,0.132084,0.145283,0.180429,0.183671,-0.010439
BILL_AMT4,0.299959,0.001972,0.014375,-0.002899,0.072791,0.221573,0.226350,0.244728,0.270516,0.264473,...,1.000000,0.940752,0.902234,0.234886,0.208636,0.301607,0.133583,0.160988,0.178624,-0.006448
BILL_AMT5,0.301221,0.006099,0.007239,-0.004749,0.070412,0.220225,0.223815,0.241327,0.268009,0.288710,...,0.940752,1.000000,0.946857,0.218785,0.182381,0.254528,0.295382,0.142016,0.164711,-0.002967
BILL_AMT6,0.295882,0.005955,0.006379,-0.000814,0.068698,0.218184,0.220949,0.237627,0.260620,0.282841,...,0.902234,0.946857,1.000000,0.201580,0.173775,0.235741,0.252372,0.308951,0.117259,-0.001904
PAY_AMT1,0.198029,0.011086,-0.028953,0.004695,0.037162,-0.081180,0.000531,-0.010280,-0.006814,-0.002313,...,0.234886,0.218785,0.201580,1.000000,0.286755,0.253530,0.202262,0.149212,0.187247,-0.070883
PAY_AMT2,0.180293,0.006681,-0.023683,-0.000599,0.030057,-0.059235,-0.066928,-0.002846,-0.004189,-0.006359,...,0.208636,0.182381,0.173775,0.286755,1.000000,0.246109,0.182554,0.181460,0.158907,-0.056567
PAY_AMT3,0.212039,0.000921,-0.032344,0.005678,0.038603,-0.055260,-0.052821,-0.068932,0.009310,0.005761,...,0.301607,0.254528,0.235741,0.253530,0.246109,1.000000,0.215619,0.159442,0.163132,-0.054009
PAY_AMT4,0.206124,0.007582,-0.029286,-0.002071,0.031665,-0.047475,-0.046875,-0.044371,-0.058935,0.018350,...,0.133583,0.295382,0.252372,0.202262,0.182554,0.215619,1.000000,0.153761,0.159257,-0.054781
PAY_AMT5,0.219416,0.008086,-0.032811,0.008143,0.032437,-0.036893,-0.035849,-0.033716,-0.033887,-0.047236,...,0.160988,0.142016,0.308951,0.149212,0.181460,0.159442,0.153761,1.000000,0.154020,-0.053019
PAY_AMT6,0.222307,0.007034,-0.030566,0.002587,0.028715,-0.036493,-0.036039,-0.026797,-0.023821,-0.026308,...,0.178624,0.164711,0.117259,0.187247,0.158907,0.163132,0.159257,0.154020,1.000000,-0.051121
default payment next month,-0.144928,-0.020674,0.040400,-0.007812,0.032733,0.262028,0.233518,0.215199,0.201941,0.184802,...,-0.006448,-0.002967,-0.001904,-0.070883,-0.056567,-0.054009,-0.054781,-0.053019,-0.051121,1.000000

In [65]:
df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [66]:
df.nunique()

ID                            29687
LIMIT_BAL                        82
SEX                               3
EDUCATION                         7
MARRIAGE                          4
AGE                              57
PAY_1                            12
PAY_2                            11
PAY_3                            11
PAY_4                            11
PAY_5                            10
PAY_6                            10
BILL_AMT1                     22510
BILL_AMT2                     22146
BILL_AMT3                     21822
BILL_AMT4                     21350
BILL_AMT5                     20831
BILL_AMT6                     20417
PAY_AMT1                       7890
PAY_AMT2                       7847
PAY_AMT3                       7463
PAY_AMT4                       6901
PAY_AMT5                       6857
PAY_AMT6                       6895
default payment next month        2
dtype: int64

In [67]:
df["ID"].nunique()

29687

In [68]:
id_count = df["ID"].value_counts()
id_count.head()

ID
7d5f3242-e1df    2
1b22b0ab-aba3    2
4cb27699-fe3f    2
91c69d1a-8732    2
bf23c70b-bf12    2
Name: count, dtype: int64

In [69]:
id_count.value_counts()

count
1    29374
2      313
Name: count, dtype: int64

In [70]:
from numpy.random import default_rng
'''rg = default_rng(12345)
rand_int = rg.integers(low = 1, high = 5 , size = [100])
rand_int
# we are cerating  Boolean mask to find the number = 3 
is_equal_to_3 = rand_int == 3 
is_equal_to_3
sum(is_equal_to_3)
rand_int[is_equal_to_3]'''

# The above is the an example code how to work with the numpy lib and boolean masking

'rg = default_rng(12345)\nrand_int = rg.integers(low = 1, high = 5 , size = [100])\nrand_int\n# we are cerating  Boolean mask to find the number = 3 \nis_equal_to_3 = rand_int == 3 \nis_equal_to_3\nsum(is_equal_to_3)\nrand_int[is_equal_to_3]'

In [71]:
dup_id = id_count ==2
dup_id

ID
7d5f3242-e1df     True
1b22b0ab-aba3     True
4cb27699-fe3f     True
91c69d1a-8732     True
bf23c70b-bf12     True
                 ...
5e9d04ca-53f0    False
891781cb-8211    False
8dd31d95-45cf    False
811730c0-898a    False
798fc410-45c1    False
Name: count, Length: 29687, dtype: bool

In [72]:
dup_id.index[0:5]

Index(['7d5f3242-e1df', '1b22b0ab-aba3', '4cb27699-fe3f', '91c69d1a-8732',
       'bf23c70b-bf12'],
      dtype='object', name='ID')

In [73]:
dup = id_count.index[dup_id]
dup[:5]

Index(['7d5f3242-e1df', '1b22b0ab-aba3', '4cb27699-fe3f', '91c69d1a-8732',
       'bf23c70b-bf12'],
      dtype='object', name='ID')

In [74]:
dup_list  = list(dup)
lenth = len(dup_list)
lenth

313

In [75]:
dup_list[:5]

['7d5f3242-e1df',
 '1b22b0ab-aba3',
 '4cb27699-fe3f',
 '91c69d1a-8732',
 'bf23c70b-bf12']

In [76]:
df.loc[df["ID"].isin(dup_list[0:3]),:]

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
5374,1b22b0ab-aba3,30000,2,1,2,30,0,0,0,0,...,32389,33142,33999,1600,2000,1500,1200,1330,2500,0
5474,1b22b0ab-aba3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5583,7d5f3242-e1df,60000,1,1,2,22,Not available,0,2,0,...,29137,29900,30069,4400,304,1100,1216,1300,589,0
5683,7d5f3242-e1df,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11848,4cb27699-fe3f,60000,2,6,1,39,-1,-1,-1,-1,...,2248,0,449,1419,3541,2248,0,449,0,0
11948,4cb27699-fe3f,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [77]:
# we are masking the entier df which matches with zero 
df_zero_mask = df == 0 
df_zero_mask

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,False,True,True,True,True,False
1,False,False,False,False,False,False,False,False,True,True,...,False,False,False,True,False,False,False,True,False,False
2,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,True,False,True,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,True
29996,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,True,True,True
29997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
29998,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
29999,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False

In [78]:
# we are masking the feature from excluding the 1st column and include all the rows
feature_zero_mask = df_zero_mask.iloc[ : , 1 :].all(axis = 1)

In [79]:
sum(feature_zero_mask)

315

In [80]:
feature_zero_mask

0        False
1        False
2        False
3        False
4        False
         ...
29995    False
29996    False
29997    False
29998    False
29999    False
Length: 30000, dtype: bool

In [81]:
df_clean_1 = df.loc[~feature_zero_mask, :].copy()

In [82]:
df_clean_1["ID"].nunique()

29685

In [83]:
df_clean_1.to_csv("df_clean.csv", index = False)